.my-pagination {
  &__item {
    //   text-align: center;
    //   cursor: pointer;
    //   display: block;
    //   background: $color-grey;
    //   border-radius: 5px;
    //   &:not(:last-child) {
    //     margin-right: 2rem;
    //   }
    //   &:hover {
    //     background: lighten($color-grey, 10);
    //   }

    // &--active {
    //   background: $color-orange;
    //   color: $color-white;
    //   &:hover {
    //     background: lighten($color-orange, 10);
    //   }

    // }
  }
  &__link {
    &:link,
    &:visited {
      width: 100%;
      font-size: 2rem;
      color: $color-white;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      background: $color-grey;
      border-radius: 5px;
      &:not(:last-child) {
        margin-right: 2rem;
      }
      &:hover {
        background: $color-orange;
        color: $color-grey;
        text-decoration: none;
      }

    }
  }
}
